# Virtual environment
.venv/
venv/
env/

# Environment variables / secrets
.env
.env.*

# Python cache
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Operating system
.DS_Store
Thumbs.db

# Local databases
*.duckdb
*.db
*.duckdb.wal

# Logs
*.log

# Large M5 datasets
data/raw/
# data/processed/